@import "../scss/parciales/variables";
@import "../scss/parciales/lista";
@import "../scss/parciales/parrafo";
@import "../scss/parciales/productos";
@import "../scss/parciales/derechos";
  




    
    .principal
    {display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 80px;}

        #logoprincipal{
        height: 650px;
        width: 650px;}


.home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 80px}

.parrafo2{
    @extend .parrafo;
    margin-top: 20px;
    margin-bottom: 30px;
}

.contactogeneral{
    font-family: skypiston;
    font-size: x-large;
margin: 60px;
padding: 10px;
text-align: center;
display: grid;
grid-template-columns: 1fr 1fr;}

.contactate{
    font-family: skypiston;
    font-weight: 500;
}

#carouselExample{
    width:auto;
    height: auto;
    margin: auto;
}

#galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 300px;
    gap: 20px;
}


#carouselExampleSlidesOnly{

    width: 200px;
    height: 200px;
    margin: auto;
}

#carouselExampleSlideOnly1{

    width: auto;
    height: auto;
    margin: auto;
}

.galeriaindex{
    text-align: center;
    
}

.titulo{
    text-align: center;
    font-family: skypiston;
    font-size: 300%;}

 .navbar{
        background-color: black;
        font-family: skypiston;
        color: aliceblue;
        font-size:xx-large;
        text-align:center;
        word-spacing: 10px;
        display: flex;

    }

.ancla{
    text-decoration: none;
    color: aliceblue;
    font-weight: 900;}

@media screen and (max-width: 900px){
    .home { grid-template-columns: 1fr 1fr;}
    .navbar{flex-direction: column;}

}

@media screen and (max-width: 800px){
    .productos {grid-template-columns: 1fr 1fr;
        justify-content: center;}
    .home { grid-template-columns: 1fr;
    justify-content: center;}}

@media screen and (max-width: 600px) {
    .productos {grid-template-columns: 1fr;}
}