@font-face {
  font-family: skypiston;
  src: url(../FUENTE.ttf);
}
.lista {
  list-style: none;
  font-family: skypiston;
  font-weight: 700;
  font-size: x-large;
}

.parrafo, .parrafo2 {
  color: #27374D;
  background-color: #DDE6ED;
  background-image: linear-gradient(1deg, #fff, #DDE6ED, #fff);
  font-size: xx-large;
  font-weight: 800;
  font-family: skypiston;
  margin: 10px;
  padding: 10px;
}

.parrafo1 {
  color: #27374D;
  background-color: #DDE6ED;
  font-weight: 800;
  font-family: skypiston;
  font-size: xx-large;
  padding: 1rem;
}

.parrafo2 {
  color: #27374D;
  background-color: #DDE6ED;
  font-size: xx-large;
  font-weight: 800;
  font-family: skypiston;
  padding: 10px;
  margin: 10px;
}

.nosotros {
  flex: 1;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.parrafoimagen1 {
  height: 200px;
  width: 300px;
  background-image: url(/images/1.jpg);
}

.parrafoimagen1:hover {
  transition: 1s;
  height: 400px;
  width: 600px;
}

.parrafoimagen2 {
  height: 200px;
  width: 300px;
  background-image: url(/images/detalle.jpg);
}

.parrafoimagen2:hover {
  transition: 1s;
  height: 400px;
  width: 600px;
}

.productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin: 200px;
  margin-top: 40px;
  font-family: skypiston;
  font-size: x-large;
  justify-content: center;
}
.productos .lavado {
  background-image: url("../images/lavado.jpg");
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
}
.productos .secado {
  background-image: url("../images/secado.jpg");
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center center;
  color: #2b04da;
  font-weight: bolder;
  text-align: center;
}
.productos .aspirado {
  background-image: url("../images/aspirado.jpg");
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center center;
  color: #ff0000;
  font-weight: bolder;
  text-align: center;
}
.productos .encerado {
  background-image: url("../images/encerado.jpg");
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center center;
  color: #000000;
  font-weight: bolder;
  text-align: center;
  line-height: 450px;
}
.productos .detallado {
  background-image: url("../images/detalle.jpg");
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center center;
  color: #000000;
  font-weight: bolder;
  line-height: 450px;
  text-align: center;
}
.productos .pintado {
  background-image: url("../images/pulido.jpg");
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center center;
  color: #000000;
  font-weight: bolder;
  line-height: 450px;
  text-align: center;
}

.lavado:hover {
  opacity: 90%;
  font-size: xxx-large;
}

.secado:hover {
  opacity: 90%;
  font-size: xxx-large;
  color: #ffffff;
}

.aspirado:hover {
  opacity: 90%;
  font-size: xxx-large;
  color: #ffffff;
}

.encerado:hover {
  opacity: 90%;
  font-size: xxx-large;
  color: #ffffff;
}

.detallado:hover {
  opacity: 90%;
  font-size: xxx-large;
  color: #ffffff;
}

.pintado:hover {
  opacity: 90%;
  font-size: xxx-large;
  color: #ffffff;
}

.derechos {
  font-size: smaller;
  text-align: center;
  color: #838383;
}

.principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px;
}

#logoprincipal {
  height: 650px;
  width: 650px;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 80px;
}

.parrafo2 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.contactogeneral {
  font-family: skypiston;
  font-size: x-large;
  margin: 60px;
  padding: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contactate {
  font-family: skypiston;
  font-weight: 500;
}

#carouselExample {
  width: auto;
  height: auto;
  margin: auto;
}

#galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 300px;
  gap: 20px;
}

#carouselExampleSlidesOnly {
  width: 200px;
  height: 200px;
  margin: auto;
}

#carouselExampleSlideOnly1 {
  width: auto;
  height: auto;
  margin: auto;
}

.galeriaindex {
  text-align: center;
}

.titulo {
  text-align: center;
  font-family: skypiston;
  font-size: 300%;
}

.navbar {
  background-color: black;
  font-family: skypiston;
  color: aliceblue;
  font-size: xx-large;
  text-align: center;
  word-spacing: 10px;
  display: flex;
  justify-content: center;
}

.ancla {
  text-decoration: none;
  color: aliceblue;
  font-weight: 900;
}

@media screen and (max-width: 900px) {
  .productos {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  .home {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  #galeria {
    grid-template-columns: 1fr;
  }
  .nosotros {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 680px) {
  .contactogeneral {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .productos {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=styles.css.map */