.navegacion {
    background-color: $colorFondo;
    background-image: linear-gradient(1deg, #fff,$colorFondo, #fff);
    padding: 20px;
    text-align: center;
    font-family: skypiston;
    font-size: xx-large; 
    flex-wrap: wrap;
    justify-content:center;}
    
